<app-navbar-admin></app-navbar-admin>
<div class="home">
  <div class="container pt-5 pb-5">
    <div class="row">
         <!-- Tarjeta de información -->
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-info">
          <div class="card-header">Plataforma</div>
          <div class="card-body">
            <h5 class="card-title">Bienvenido a UniEvento</h5>
            <p class="card-text">Una plataforma para gestionar eventos, cupones y localidades de manera sencilla y eficiente.</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta de eventos -->
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
          <div class="card-header">Eventos</div>
          <div class="card-body">
            <h5 class="card-title">Total de eventos</h5>
            <p class="card-text" style="font-size: 2rem;">{{ totalEventos }}</p>
          </div>
        </div>
      </div>
      
      <!-- Tarjeta de cupones -->
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-success">
          <div class="card-header">Cupones</div>
          <div class="card-body">
            <h5 class="card-title">Total de cupones</h5>
            <p class="card-text" style="font-size: 2rem;">{{ totalCupones }}</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>