<div style="background-color: #B9E8CA;">
    <div class="container pt-5 pb-5">
        <div class="border rounded p-3 shadow" style="background-color: #2B263D; max-width: 950px; margin: auto;">
            <h2 class="text-center mb-3" style="color: white;">Crear evento</h2>
            <i class="fa-solid fa-user mb-3 d-flex justify-content-center align-items-center" style="font-size: 48px; color: #ffffff;"></i>
            <form [formGroup]="crearEventoForm" (ngSubmit)="crearEvento()" novalidate="">
            <hr class="mb-2" style="border: 1px solid #ffffff; width: 80%; margin: auto;">
            <div class="row mb-2">
                <div class="col">
                  <label for="nombreEvento" class="form-label" style="color: #ffffff;">Nombre evento:</label>
                  <input type="text" class="form-control" formControlName="nombreEvento" placeholder="Nombre evento" aria-label="Nombre evento" style="border: 1px solid #007BFF;">
                </div>
                <div class="col">
                  <label for="descripcion" class="form-label" style="color: #ffffff;">Descripción:</label>
                  <textarea type="text" class="form-control" formControlName="descripcion" placeholder="Descripcion" aria-label="Descripción" style="border: 1px solid #ffffff;"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">   
                    <label for="tipoEvento" class="form-label" style="color: #ffffff;">Tipo evento:</label>
                    <select class="form-control" formControlName="tipo" placeholder="Tipo Evento" aria-label="Tipo Evento" style="border: 1px solid #ffffff;" >
                        <option value="">Seleccione un tipo</option>
                        @for (item of tiposDeEvento; track $index) {
                            <option value="{{item}}">{{item}}</option>
                        }
                    </select>
                </div>
                <div class="col">
                  <label for="direccionEvento" class="form-label" style="color: #ffffff;">Dirección:</label>
                  <input type="text" class="form-control mb-1" formControlName="direccionEvento" placeholder="Dirección" aria-label="Dirección" style="border: 1px solid #ffffff;">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                  <label for="ciudadEvento" class="form-label" style="color: #ffffff;">Ciudad evento:</label>
                  <input type="text" class="form-control" formControlName="ciudadEvento" placeholder="Ciudad" aria-label="Ciudad evento" style="border: 1px solid #007BFF;">
                </div>
                <div class="col">
                  <label for="imagenPortada" class="form-label" style="color: #ffffff;">Imagen Portada:</label>
                  <input type="file" (change)="onFileChange($event, 'portada')" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                  <label for="imagenLocalidades" class="form-label" style="color: #ffffff;">Imagen Localidades:</label>
                  <input type="file" (change)="onFileChange($event, 'localidades')" />
                </div>
                <div class="col">
                    <label for="localidades" class="form-label" style="color: #ffffff;">Localidades:</label>
                    <input type="text" class="form-control mb-3" formControlName="localidades" placeholder="Localidades" aria-label="Localidades" style="border: 1px solid #007BFF;">
                  </div>
            </div>
            <div class="row">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary" style="width: 25%; background-color: #B9E8CA; color: black; border-style: none;" >
                    <i class="fa-solid fa-user-plus"></i>
                    Crear evento
                  </button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>