<div>
  <app-carousel></app-carousel>
  <div class="card-container">
    @for (evento of eventos; track $index) {
    <div class="card">
      <img [src]="'assets/images/' + evento.urlImagenPortada" class="card-img-top" alt="{{evento.nombre}}">

      <div class="card-body">
        <h5 class="card-title">{{evento.nombre}}</h5>
        <p class="card-text">{{evento.tipoEvento}}</p>
        @if (logueado) {
          <a href="#" class="btn btn-primary">Comprar</a>
        }@else {
          <a routerLink="login" class="btn btn-primary">Comprar</a>
        }
      </div>
    </div>
  }
  </div>
</div>