<div class="container" id="container">
    <div class="form-container sign-up-container" style=" background-color: white">
        <div style="margin: 0 auto; width: 80%;">
            <h1 style="font-weight: bold; margin-bottom: 20px; margin-top: 12px">Crea tu cuenta</h1>
        </div>
        <form class="formRegistro" #f="ngForm">
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="text" name="nombre" placeholder="Nombre completo" required/>
                <!-- [(ngModel)]="registroClienteDTO.nombre" -->
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="text" name="nickname" maxlength="15" placeholder="Cedula" required/>
                <!-- [(ngModel)]="registroClienteDTO.nickname" -->
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="text" name="nickname" maxlength="15" placeholder="Direccion" required/>
                <!-- [(ngModel)]="registroClienteDTO.nickname" -->
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="text" name="nickname" maxlength="15" placeholder="Telefono" required/>
                <!-- [(ngModel)]="registroClienteDTO.nickname" -->
            </div>
            <div class="input-container">
                <i class="fa-solid fa-envelope"></i>
                <input class="Input-registro" type="email" name="Email"  placeholder="Email" required/>
                <!-- [(ngModel)]="registroClienteDTO.email" -->
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input class="Input-registro" [type]="showPassword? 'text' : 'password'" name="Password" minlength="5" placeholder="Contraseña" required/>
                <!--  [(ngModel)]="registroClienteDTO.password" -->
                <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input class="Input-registro" [type]="showPassword? 'text' : 'password'" name="confirmaPassword" minlength="5" required placeholder="Repetir contraseña" />
                <!--  [(ngModel)]="registroClienteDTO.confirmaPassword" -->
                <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
            </div>
            <!-- @if (!sonIguales()) { <p>Las contraseñas no coinciden</p> } -->
            <button class="buttonRegistro" type="submit" (click)="registrar()">Registrarse</button>
            <!-- [disabled]="f.invalid || !sonIguales()" -->
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form class="formRegistro" #f="ngForm">
            <div style="margin: 0 auto; width: 80%;">
                <h1 style="font-weight: bold; margin-bottom: 20px; margin-top: 12px">Ingresa</h1>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="email" placeholder="Email" />
                <!--[(ngModel)]="loginDTO.email" [ngModelOptions]="{standalone: true}"  -->
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input class="Input-registro" [type]="showPassword? 'text' : 'password'" placeholder="Contraseña" />
                <!-- [(ngModel)]="loginDTO.password" [ngModelOptions]="{standalone: true}" -->
                <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
            </div>
            <a href="#" style="color: #333; font-size: 14px; text-decoration: none; margin: 15px 0;">Olvidaste tu contraseña?</a>
            <button class="buttonRegistro" (click)="login()">Ingresa</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 style="font-weight: bold; margin: 0;">¿Ya tienes una cuenta?</h1>
                <p style="font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px;">
                    Para mantenerte conectado con nosotros, inicia sesión con tu información personal
                </p>
                <button class="buttonRegistro ghost" id="signIn">Inicia sesion</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 style="font-weight: bold; margin: 0;">¿Eres nuevo?</h1>
                <p style="font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px;">
                    Da click en el botón "REGISTRATE" y comienza tu viaje con nosotros.
                </p>
                <button class="buttonRegistro ghost" id="signUp" >Registrate</button>
            </div>
        </div>
    </div>
</div>
