<div class="events-header">
  <h2 class="title">TODOS LOS EVENTOS</h2>
  <div class="filters">
    <label class="filter-title">Filtrar eventos</label>
    <div class="filter-group">
      <select class="filter-dropdown">
        <option>Tipo de evento</option>
        <option>Concierto</option>
        <option>Teatro</option>
        <option>Deporte</option>
      </select>
      <select class="filter-dropdown">
        <option>Fecha</option>
        <option>Hoy</option>
        <option>Esta semana</option>
        <option>Este mes</option>
      </select>
      <select class="filter-dropdown">
        <option>Ordenar por</option>
        <option>Nombre</option>
        <option>Popularidad</option>
        <option>Fecha</option>
      </select>
    </div>
  </div>
</div>
<div class="card-container">
  @for (evento of eventos; track $index) {
  <div class="event-card" routerLink="/evento">
    <img src="concierto.jpg" alt="Imagen del evento" class="event-image">
    <div class="event-content">
      <h3 class="event-title">{{evento.nombre}}</h3>
      <div class="event-info">
        <span class="event-type">{{evento.tipoEvento}}</span>
        <span class="event-location">{{evento.ciudad}}</span>
      </div>
      <div class="event-date">{{evento.fecha}}</div>
    </div>
  </div>
  }
</div>  
