<body style="background-color: #B9E8CA; margin: 0; height: 100%;">
  <div class="container mt-5">
    <div class="border rounded p-3 shadow" style="background-color: #2B263D; max-width: 600px; margin: auto;">
      <h2 class="text-center mb-3" style="color: #ffffff;">Registro</h2>
      <i class="fa-solid fa-user mb-3 d-flex justify-content-center align-items-center" style="font-size: 48px; color: #ffffff;"></i>
      <form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate="">
        <p class="text-center mb-2" style="color: #ffffff;">Datos usuario</p>
        <hr class="mb-2" style="border: 1px solid #ffffff; width: 80%; margin: auto;">
        <div class="row mb-2">
          <div class="col">
            <label for="nombre" class="form-label" style="color: #ffffff;">Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre y apellidos" aria-label="Nombre y apellidos" style="border: 1px solid #007BFF;">
          </div>
          <div class="col">
            <label for="cedula" class="form-label" style="color: #ffffff;">Cedula:</label>
            <input type="text" class="form-control" formControlName="cedula" placeholder="Cédula" aria-label="Cédula" style="border: 1px solid #ffffff;">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="email" class="form-label" style="color: #ffffff;">Dirección:</label>
            <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección" aria-label="Dirección" style="border: 1px solid #ffffff;">
          </div>
          <div class="col">
            <label for="telefono" class="form-label" style="color: #ffffff;">Teléfono:</label>
            <input type="number" class="form-control mb-1" formControlName="telefono" placeholder="Teléfono" aria-label="Teléfono" style="border: 1px solid #ffffff;">
          </div>
        </div>
        <p class="text-center mb-1" style="color: #ffffff;">Datos inicio sesión</p>
        <hr class="mb-2" style="border: 1px solid #ffffff; width: 80%; margin: auto;">
        <div class="row mb-2">
          <div class="col">
            <label for="email" class="form-label" style="color: #ffffff;">Email:</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" aria-label="Email" style="border: 1px solid #ffffff;">
          </div>
          <div class="col">
            <label for="confirmarEmail" class="form-label" style="color: #ffffff;">Confirmar Email:</label>
            <input type="email" class="form-control" formControlName="confirmarEmail" placeholder="Confirmar Email" aria-label="Confirmar Email" style="border: 1px solid #ffffff;">
          </div>
        </div>
        <div class="row mb-3"> <!-- Cambiar mb-3 a mb-2 -->
          <div class="col">
            <label for="password" class="form-label" style="color: #ffffff;">Contraseña:</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" aria-label="Contraseña" style="border: 1px solid #ffffff;">
          </div>
          <div class="col">
            <label for="confirmarPassword" class="form-label" style="color: #ffffff;">Confirmar Contraseña:</label>
            <input type="password" class="form-control" formControlName="confirmarPassword" placeholder="Confirmar contraseña" aria-label="Repetir contraseña" style="border: 1px solid #ffffff;">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <p class="text-danger" *ngIf="registroForm.hasError('passwordsMismatch')">Las contraseñas no coinciden</p>
            <p class="text-danger" *ngIf="registroForm.hasError('emailMismatch')">Los correos no coinciden</p>          
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="submit" [disabled]="registroForm.invalid" class="btn btn-primary" style="width: 25%; background-color: #B9E8CA; color: black; border-style: none;" >
              <i class="fa-solid fa-user-plus"></i>
              Registrarse
            </button>
            <div class="col text-center mt-3">
              <p style="color: #ffffff;">
                ¿Ya tienes una cuenta? 
                <a [routerLink]="'/login'" style="color: #007BFF; text-decoration: underline;">Inicia Sesión</a>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
