<div class="search-bar">
  <nav class="navbar">
    <div class="primera">  
    </div>
    <div class="primera">
      <ul class="nav-list">
        <li class="nav-item"><a class="texto" routerLink="/">Inicio</a></li>
        <li class="nav-item"><a class="texto" routerLink="eventos">Pasadias</a></li>
        <li class="nav-item"><a class="texto" routerLink="#">Contáctanos</a></li>
        <li class="nav-item"><a class="texto" routerLink="#">Donaciones</a></li>
      </ul>
    </div>    
  </nav>
</div>