.search-bar {
  padding: 10px;
  background-color: #dce9f2;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0.9, 0.1);
  z-index: 2;
}

.navbar {
  display: flex; /* Alinea los items horizontalmente */
  justify-content: space-between;
}

.primera{
  display: flex; /* Alinea los items horizontalmente */
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style-type: none; /* Quita las viñetas */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margen por defecto */
  display: flex; /* Alinea los items horizontalmente */
  justify-content: flex-end
}

.nav-item {
  flex: 1; /* Cada elemento ocupa un espacio igual */
  text-align: center; /* Centra el texto dentro del elemento */
  margin: 0 5%; 
}

.texto{
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  display: block; /* Hace que el enlace ocupe todo el ancho del li */
  text-decoration: none; /* Quita el subrayado */
  color: black; /* Color del enlace */
}

.nav-item a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: black; /* Cambia el color del enlace */
}
