/* Contenedor principal del formulario */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #ececec, #ffffff);
  }
  
  /* Caja del formulario de login */
  .login-box {
    width: 100%;
    max-width: 400px;
    background-color: #2B263D;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Título de login */
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  
  /* Icono de usuario */
  .login-icon {
    margin-bottom: 20px;
  }
  
  .user-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #e2e8f0;
    border-radius: 50%;
  }
  
  /* Estilos de campos de entrada */
  .form-group {
    margin-bottom: 16px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
  }
  
  .input-field {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #e2e8f0;
    color: #2d3748;
    font-size: 1rem;
  }
  
  .input-field::placeholder {
    color: #a0aec0;
  }
  
  /* Mensajes de error */
  .error-message {
    color: #e53e3e;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  /* Enlace de contraseña olvidada */
  .forgot-password {
    margin-bottom: 16px;
  }
  
  .forgot-password a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* Botón de envío */
  .submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: #68d391;
    color: #2d3748;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #48bb78;
  }
  
  /* Enlace de registro */
  .register-link {
    margin-top: 20px;
    color: #cbd5e0;
  }
  
  .register-link a {
    color: #68d391;
    text-decoration: none;
  }
  
  .register-link a:hover {
    color: #48bb78;
  }
  
/* Botón para cerrar el diálogo */
.close-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .close-btn:hover {
    color: #c53030;  /* Cambia a rojo cuando el mouse pasa por encima */
  }
  
  /* Ajustar el contenedor para tener espacio para el botón de cerrar */
  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }