<div class="coupon-list-container">
    <div class="section-title" style="color: black;">
        <h2>Cupones Disponibles</h2>
    </div>
    <div class="card-container">
        <div class="coupon-card" *ngFor="let coupon of availableCoupons | paginate: { itemsPerPage: 5, currentPage: availablePage }">
            <div class="coupon-content">
                <h3 class="coupon-title">{{ coupon.title }}</h3>
                <div class="coupon-info">
                    <span class="coupon-code">{{ coupon.code }}</span>
                    <span class="coupon-discount">{{ coupon.discount }}% de descuento</span>
                </div>
                <div class="coupon-expiration">Expira el {{ coupon.expiration }}</div>
            </div>
        </div>
    </div>

    <!-- Botones de paginación para cupones disponibles -->
    <div class="pagination-container">
        <button (click)="prevAvailablePage()" [disabled]="availablePage === 1" class="pagination-button"><i class="fa-solid fa-arrow-left"></i></button>
        <span class="pagination-text">{{ availablePage }}</span>
        <button (click)="nextAvailablePage()" [disabled]="availablePage === maxAvailablePage()" class="pagination-button"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

    <div class="section-title" style="color: black;">
        <h2>Cupones No Disponibles</h2>
    </div>
    <div class="card-container">
        <div class="coupon-card" *ngFor="let coupon of unavailableCoupons | paginate: { itemsPerPage: 5, currentPage: unavailablePage }">
            <div class="coupon-content">
                <h3 class="coupon-title">{{ coupon.title }}</h3>
                <div class="coupon-info">
                    <span class="coupon-code">{{ coupon.code }}</span>
                    <span class="coupon-discount">{{ coupon.discount }}% de descuento</span>
                </div>
                <div class="coupon-expiration">Expirado el {{ coupon.expiration }}</div>
            </div>
        </div>
    </div>

    <!-- Botones de paginación para cupones no disponibles -->
    <div class="pagination-container">
        <button (click)="prevUnavailablePage()" [disabled]="unavailablePage === 1" class="pagination-button"><i class="fa-solid fa-arrow-left"></i></button>
        <span class="pagination-text">{{ unavailablePage }}</span>
        <button (click)="nextUnavailablePage()" [disabled]="unavailablePage === maxUnavailablePage()" class="pagination-button"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</div>
